body {
    margin: 0 auto;
    padding: 0;
    background: #E2E4EA url(images/img01.gif) repeat-x;
    font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #666666;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    text-align: left;
}

p, blockquote, ul, ol {
    margin-top: 0;
    padding-top: 0;
}

a {
    color: #000000;
}

a:hover {
    text-decoration: none;
}

/* Header */

#header {
    width: 760px;
    height: 50px;
    margin: 0 auto;
}

/* Logo */

#logo {
    width: 900px;
    height: 50px;
    margin: 0 auto;
}

#logo h1, #logo h2 {
    float: left;
    padding: 10px 0px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

#logo h1, a {
    text-decoration: none;
    color: #4A80FF;
}

/* Menu */

#menu {
    height: 30px;
    width: 900px;
    margin:0 auto;
    clear: both;
    background-color: #52B1EB;
}

#menu ul {
    margin: 0;
    padding: .35em 0 0 0;
    list-style: none;
    float: right;
}

#menu li {
    display: inline;
}

#menu a {
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFFFFF;
}

#menu a:hover {
    color: #311C3C;
    background-color: #52B1EB;
}

/* splash */

#splash {
    width: 900px;
    height: 260px;
    margin: 0 auto;
    clear: both;
    background: url(../images/picsec1.jpg) no-repeat top left;
}

/* Content */

#content {
    width: 900px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

#content h2 {
    height: 25px;
    padding: 6px 0 0 0px;
    text-transform: uppercase;
    font-size: 1em;
    color: #000000;
    margin-bottom: 5px;
    border-bottom: 1px solid #000000;
    margin-left: 20px;
}

#content h3 {
    font-size: 1em;
    color: #000000;
    margin-bottom: 5px;
    background-color: #52B1EB;
}

#content ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
}

#content li {
    padding-left: 25px;
    background: url(../images/img09.gif) no-repeat left center;
}

#content .content {
    padding: 10px 20px 20px 20px;
}

/* Column One */

#colOne {
    float: left;
    width: 675px;
    padding-top: 8px;
    background-color: #FFFFFF;
}

#colOne .boxed {
    background: url(../images/img07.gif) repeat-x;
}

/* Column Two */

#colTwo {
    float: right;
    width: 200px;
    padding-top: 20px;
    margin-top: 10px;
}
#colTwo h2 {text-align:left;}
#colTwo .boxed {
    background: url(../images/img08.gif) repeat-x;
}

#colTwo .content {
    padding-right: 10px;
    padding-left: 0px;

}

/* Footer */

#footer {
    width: 900px;
    height: 60px;
    margin: 0 auto;
    background: #000000;
}

#footer p {
    margin: 0;
    padding: 7px 0 0 0;
    text-align: center;
    font-size: x-small;
    color: #666666;
}

#footer a {
    color: #666666;
}
#content .content a {
    color:#1AA5D3;
    text-decoration: underline;
}
